.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img[src*="me"] {
    border-radius: 2em;
    width: 20em;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

a {
  color: #000000; /* Set the default link color */
  text-decoration-line: none ;
  transition: color 0.1s ease; /* Add a smooth transition effect for the color change */
  font-weight: bold;
}

a:hover {
  color: #81c6ff; /* Set the link color when hovered */
}

blockquote {
  border-left: 5px solid #81c6ff ;
}

body {
  margin-left: 18%;
  margin-right: 18%;
}

div.scroll {
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

p {
  margin-bottom: 20px;
  text-align: justify;
}

span.email {
  color: #81c6ff;
}

a.news {
  text-decoration-line: underline ;
  font-weight: normal;
}
