.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img[src*="me"] {
    border-radius: 2em;
    width: 20em;
    float: left;
    margin-right: 20px;
}

a {
  color: #000000; /* Set the default link color */
  text-decoration-line: none !important;
  transition: color 0.1s ease; /* Add a smooth transition effect for the color change */
  font-weight: bold;
}

a:hover {
  color: #81c6ff; /* Set the link color when hovered */
}

blockquote {
  border-left: 5px solid #81c6ff !important;
}

body {
  margin: 10%;
}
